{ns aidbox.forms.annual-wellness-visit
 import #{aidbox.sdc
          aidbox.forms.vitals
          aidbox.forms.phq2phq9
          aidbox.forms.gad-7
          aidbox.forms.allergies
          aidbox.forms.ros
          aidbox.forms.physical-exam}

 AnnualWellnessWorkflow
 {:zen/tags #{aidbox.sdc/Workflow}
  :title "Annual Wellness Visit"
  :items {:visit-overview {:item aidbox.sdc/SectionItem
                           :title "Visit Overview"
                           :items {:review-of-systems   {:item aidbox.sdc/FormItem
                                                         :form aidbox.forms.ros/RoSForm}}}

          :questionnaires {:item aidbox.sdc/SectionItem
                           :title "Questionnaires"
                           :items {:gad-7 {:item aidbox.sdc/FormItem
                                           :form aidbox.forms.gad-7/GAD7Form}
                                   :phq2phq9 {:item aidbox.sdc/FormItem
                                              :form aidbox.forms.phq2phq9/PHQ2PHQ9Form
                                              :sdc/enable-when (lisp/>=
                                                                (lisp/get-in [:items :questionnaires
                                                                              :items :gad-7
                                                                              :document :70274-6])
                                                                15)}}}
          :physical-exam {:item aidbox.sdc/SectionItem
                          :title "Physical Exam"
                          :items {:vitals   {:item aidbox.sdc/FormItem
                                             :form  aidbox.forms.vitals/VitalsForm}
                                  :physical-exam   {:item aidbox.sdc/FormItem
                                                    :sdc/inject {:ros/general-comment
                                                                 (lisp/get-in [:items :visit-overview
                                                                               :items :review-of-systems
                                                                               :document :loinc-71407-1-comment])}
                                                    :form  aidbox.forms.physical-exam/PhysicalExamForm}}}
          :medication-and-allergy {:item aidbox.sdc/SectionItem
                                   :title "Allergies"
                                   :items {:allergies {:item aidbox.sdc/FormItem
                                                       :form aidbox.forms.allergies/AllergiesForm}}}}}
 }
